@import src/app/colorsFonts


#heroMain
  background-image: url("src/assets/img/man-and-dog-1149400_1920.jpg")
  height: 50em
  padding-top: 10em
  text-align: center

  img
    width: 100%
    object-fit: cover

  h1
    padding-bottom: 5em
    font-family: $Fredericka
    color: white


.heroText
  background-color: $metallic-sunburst
  height: 20em
  opacity: 0.7
