<div id="heroMain">
  <h1>Natural - Organic - Delicious</h1>
  <div class="heroText">
    <div class="row">

      <div class="col-md-3">
        <div class="icon"><i class='fas fa-seedling'></i></div>
        <h3>Organic</h3>
        <p>All our Food is made with only the best ingredients from organic sources</p>
      </div>
      <div class="col-md-3">
        <div class="icon"><i class='fas fa-globe-europe'></i></div>
        <h3>Clima Neutral</h3>
        <p>We try to constantly improve the environmental footprint of our products</p>
      </div>
      <div class="col-md-3">
        <div class="icon"><i class='	fas fa-heart'></i></div>
        <h3>Healthy</h3>
        <p>Our Nutritionists make sure that our food provides everything your little friends need</p>
      </div>
      <div class="col-md-3">
        <div class="icon"><i class='	fas fa-paw'></i></div>
        <h3>Tasty</h3>
        <p>Since our friends also enjoy delicious food we try to make it as tasty as possible</p>
      </div>





    </div>
  </div>
</div>
