<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" routerLink="/"><img src="/assets/img/logo2.png"  alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/dogs">Dogs</a>
          <a class="dropdown-item" routerLink="/cats">Cats</a>
          <a class="dropdown-item" routerLink="/rodents">Rodents</a>

        </div>
      </li>

    </ul>
    <ul class="navbar-nav" id="cart">
      <li class="nav-item">
      <a class="nav-link" routerLink="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
